{% extends 'base.html.twig' %}

{% block title %}Agence lorem ipsum{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos itaque laboriosam officiis optio quam quia
            saepe voluptatibus? Aut beatae distinctio enim exercitationem illo laborum libero non quod, rem, tempore,
            velit?
        </p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row">
            {% for property in properties %}
                <div class="col mb-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id: property.id}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary"
                                 style="font-weight: bold ; font-size: 2rem">{{ property.price | price }} €
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
